<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.6/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}" 
          rel="stylesheet" media="screen" />

	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.13/datatables.min.css"/>
	
	<script
  src="https://code.jquery.com/jquery-2.2.1.min.js"
  integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
  crossorigin="anonymous"></script>
	
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.13/datatables.min.js"></script>
	
<script>
$(function(){
	$('#hrtable').Datatable({

	sAjaxSource: '/getAll',
		"columns": [
			{"data":"firstName"},
			{"data":"lastName"},
			{"data":"jobTitle"},
			{"data":"departmentID"},
			{"data":"updateLink"},
			{"data":"deleteLink"}
		]
	});

});
</script>

</head>

<body>
    
    <div class="container">
    
        <h2>TABLE OF EMPLOYEES</h2>
        <div style="text-align:right"><a th:href="@{/create-new}" class="btn btn-success">Create New Employee</a>
        <a th:href="@{/logout}" class="btn btn-danger">Logout</a>
        </div>
        <br/>
    
    <table id="hrtable" class="display">
        <thead><tr>
            <td>First Name</td>
            <td>Last Name</td>
    		<td>Job Title</td>
    		<td>Department ID</td>
    		<td>Update</td>
    		<td>Delete</td>
            </tr></thead>

    </table>
    
    </div>

</body>
</html>